<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar style="color: aliceblue;">Acciones</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/add-teacher" style="color: aliceblue;">Add Profesores</a>
        <a mat-list-item routerLink="/profesor-listar" style="color: aliceblue;">List Profesores</a>
        <a mat-list-item routerLink="/profesor-delete" style="color: aliceblue;">Delete Profesores</a>
        <a mat-list-item routerLink="/profesor-update" style="color: aliceblue;">Update Profesores</a>
        <a mat-list-item routerLink="/pregunta-crear" style="color: aliceblue;">Cuestionarios</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Curso de Angular - YouTics - Comparte tus conocimientos...</span>
      </mat-toolbar>
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>