<div class="container mt-3">
    <div class="card mt-3">
        <div class="card-body text-white bg-success">
            <span class="h3">UPDATE Professor</span>
            <form class="row g-3" [formGroup]="form">
                <div class="col-md-3">
                    <label for="inputLegajo" class="form-label">Legajo</label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="inputLegajo" formControlName="legajo" (keyup)="completarBusqueda()"></div>
                        <div
                            *ngIf="form.controls['legajo'].invalid && form.controls['legajo'].touched" class="alert alert-danger">Legajo requerid
                        </div>
                </div>
                <div class="col-md-9">
                    <label for="inputApellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="inputApellido" formControlName="apellido">
                        <div
                            *ngIf="form.controls['apellido'].invalid && form.controls['apellido'].touched" class="alert alert-danger">Apellido requerid
                        </div>
                </div>
                <div class="col-8">
                    <label for="inputNombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputNombre" formControlName="nombre" >
                        <div
                            *ngIf="form.controls['nombre'].invalid && form.controls['nombre'].touched" class="alert alert-danger">Nombre requerid
                        </div>
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Sexo</label>
                    <select id="inputState" class="form-select" formControlName="sexo">
                        <option selected>Maculino</option>
                        <option>Femenino</option>
                        <option>No definido</option>
                    </select>
                        <div
                            *ngIf="form.controls['sexo'].invalid && form.controls['sexo'].touched" class="alert alert-danger">Sexo requerid
                        </div>
                </div>
                <div class="col-md-3">
                    <label for="inputMateria" class="form-label">Materia</label>
                    <input type="text" class="form-control" id="inputMateria" formControlName="materia">
                        <div
                            *ngIf="form.controls['materia'].invalid && form.controls['materia'].touched" class="alert alert-danger">Materia requerid
                        </div>
                </div>
                <div class="col-12">
                <button type="submit" class="btn btn-primary" 
                    (click) = "modificar()"
                    [disabled] = "form.invalid"
                >Modificar Profesor</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-3" >
    <div class="card mt-3">
        <div class="card-body text-white bg-success">
          <span class="h3">Listado de Profesores</span>
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th >Legajo</th>
                <th >Nombre</th>
                <th >Apellido</th>
                <th >Sexo</th>
                <th>Materia</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let profesor of dataService.listaDeServicio">
                <tr>
                  <td>{{ profesor.Legajo }}</td>
                  <td>{{ profesor.Nombre }}</td>
                  <td>{{ profesor.Apellido }}</td>
                  <td>{{ profesor.Sexo }}</td>
                  <td>{{ profesor.Materia }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
    </div>
</div>

