/* You can add global styles to this file, and also import other style files */
body{
    /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./assets/fondo.jpg'); */
    background-image: url('./assets/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* background: #a8ff78;
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  
    background: linear-gradient(to right, #78ffd6, #a8ff78);*/
}
