<div class="container mt-3">
    <div class="card mt-3">
        <div class="card-body text-white bg-success">
            <span class="h3">Add Question and Answer</span>
            <form class="row g-3" [formGroup]="formPregunta">
                <div class="col-md-12">
                    <label for="inputPregunta" class="form-label">Pregunta</label>
                    <input type="text" class="form-control" id="inputPregunta" formControlName="pregunta">
                    <div
                        *ngIf="formPregunta.controls['pregunta'].invalid && formPregunta.controls['pregunta'].touched" class="alert alert-danger">Pregunta requerid
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" 
                        (click) = "agregarPregunta()" [disabled] = "formPregunta.invalid" >Add Question</button>
                    <button type="submit" class="btn btn-warning" 
                        (click) = "modificarPregunta()" [disabled] = "formPregunta.invalid" >Update Question</button>
                </div>
            </form>
            <br>
            <form class="row g-3" [formGroup]="formRespuesta">
                <div class="col-md-2">
                    <label for="inputState" class="form-label">Ids de Pregunta</label>
                    <select id="inputState" class="form-select" formControlName="idPregunta">
                        <option selected>Seleccionar</option>
                        <option *ngFor="let idPregunta of data.listaDePreguntas; let i = index" >{{idPregunta.idPregunta}}</option>
                    </select>
                </div>
                <div class="col-md-10">
                    <label for="inputRespuesta" class="form-label">Respuesta</label>
                    <input type="text" class="form-control" id="inputRespuesta" formControlName="respuesta">
                    
                </div>
                <div class="col-md-3">
                    <label for="inputState" class="form-label">True or False</label>
                    <select id="inputState" class="form-select" formControlName="esCorrecta">
                        <option selected>Verdadero</option>
                        <option>Falso</option>
                    </select>
                    <div
                        *ngIf="formRespuesta.controls['esCorrecta'].invalid && formRespuesta.controls['esCorrecta'].touched" class="alert alert-danger">True or False requerid
                    </div>
                </div>
                <div class="col-12">
                <button type="submit" class="btn btn-danger"                
                    (click)="agregarRespuesta()" [disabled] = "formRespuesta.invalid"
                >Add Answer</button>
                <button type="submit" class="btn btn-warning"                
                     [disabled] = "formRespuesta.invalid"
                     (click)="modificarRespuesta()"
                >Update Answer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-3" >
    <div class="card mt-3">
            <div class="card-body text-white bg-success">
              <span class="h3">Listado de Preguntas</span>
              <table class="table table-dark table-striped">
                <ng-container  *ngFor="let pregunta of data.listaDePreguntas; let i = index" >
                    <thead>
                        <tr>
                            <th>{{ pregunta.idPregunta }}</th>
                            <th>{{ pregunta.descripcionPregunta }}</th>
                            <th style="text-align: center">
                                <i class="far fa-pen-square fa-lg text-info" style="margin-right: 15px;" (click)="completarBusquedaPregunta(pregunta.idPregunta)"></i>
                                <i class="far fa-trash-restore-alt fa-lg text-danger" (click)="eliminarPregunta(pregunta.idPregunta)"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let respuesta of data.listaDePreguntas[i].respuestas; let z=index">
                        <td>{{ respuesta.descripcionRespuesta }}</td>
                        <td>{{ respuesta.esCorrecta }}</td>
                        <td style="text-align: center">
                            <i (click)="eliminarRespuesta(data.listaDePreguntas[i].respuestas, respuesta.descripcionRespuesta)" class="fas fa-trash-restore-alt fa-lg text-danger" style="margin-right: 15px;"></i>
                            <i class="fas fa-pen-square text-info fa-lg" (click)="completarBusquedaRespuesta(data.listaDePreguntas[i].respuestas, respuesta.descripcionRespuesta)"></i>
                        </td>
                    </tr>
                    </tbody>
                </ng-container>
            </table>
            </div>
        </div>
    </div>
    
    